

@{
    ViewBag.Title = "Index";
}

<h2 id="h2">Index</h2>

<div>
    @Html.ActionLink("Create New", "Create")   

    <div id="divCat">@Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })</div>
    <div id="divSubCat"></div>
</div>
<div id="divGrid">
</div>

@section scripts{
    <script>
        $(function () {
            $("#CategoryID").change(function () {
                url = "@Url.Action("SubCat")/" + $("#CategoryID").val();
                $("#divSubCat").load(url, function () {
                        $("#SubCategoryID").change(function () {
                            urlSubCat = "@Url.Action("Grid")/" + encodeURIComponent($("#SubCategoryID").val()) +
                                   "?category=" + $("#CategoryID").val();
                            $("#divGrid").load(urlSubCat, function () { });
                        });           
                });

                //On répète le code de l'événement SubCat 
                //quand on vient juste de changer de Catégorie, ce qui charge le grid
                urlSubCat = "@Url.Action("Grid")/" + "Tous" +
                           "?category=" + $("#CategoryID").val();
                $("#divGrid").load(urlSubCat, function () { });
            });

            //On appelle le chargement des subCat au chargment initial de la page
            $("#CategoryID").change();
        });

    </script>
    }


